* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

.ifc-property-menu {
    border: 1px solid gray;
    width: 30rem;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: "10px"; 
    box-shadow: "0px 2px 4px rgba(0, 0, 0, 0.1)" 
}

.ifc-property-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem;
    border-bottom: solid 1px gray;
}

.ifc-property-value {
    width: 100%;
    text-align: right;
}

.bottom-right { position:absolute; bottom:0; right:0; } 

.button-wrapper { bottom: 10px;}

#viewer-container {
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

#button-container {
    z-index: 2;
    position: absolute;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}


#button-container * {
    margin: 0.5rem;
    padding: 8px;
}

/*Tree view: https://www.w3schools.com/howto/howto_js_treeview.asp*/

.ifc-tree-menu {
    position: absolute;
    overflow-y: scroll;
    /* background-color: white; */
    height: 85vh;
    
    background: var(--translucent-white);
    backdrop-filter: var(--blur-filter);
    border: none;
    /* border-radius: 45px; */
    z-index: 1;
}

li ul {
    user-select: none;
    cursor: pointer;
}

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0.5rem;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
    margin-left: 10px;
}


#loader-container {
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

/* From uiverse.io by @barisdogansutcu */
svg {
    margin: 1rem;
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }