/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
} */

.bottom-right { position:absolute; bottom:0; right:0; } 

.button-wrapper { bottom: 10px;}

#viewer-container {
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

#button-container {
    z-index: 2;
    position: absolute;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}


#button-container * {
    margin: 0.5rem;
    padding: 8px;
}

#loader-container {
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

/* From uiverse.io by @barisdogansutcu */
svg#loading {
    margin: 1rem;
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
