.ifc-property-menu {
    border: 1px solid gray;
    width: 20rem;
    position: absolute;
    background-color: rgb(0, 0, 0);
}

.ifc-property-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem;
    border-bottom: solid 1px gray;
}

.ifc-property-value {
    width: 100%;
    text-align: right;
}