[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
flask-pymongo = "*"
bcrypt = "*"
pyjwt = "*"
gunicorn = "*"

[scripts]
dev='python app.py'
test='pytest .'
coverage = "pytest --cov-report term-missing --cov=./"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-watch = "*"

[requires]
python_version = "3.9"
