[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
flask-pymongo = "*"
bcrypt = "*"
pyjwt = "*"

[scripts]
dev='python app.py'

[dev-packages]

[requires]
python_version = "3.9"
