.new-request-form {
  /* background-color: #1A273E; */
  /* color: #1A273E; */
  border-style: solid;
  border-color: #D39B0B;
  border-radius: 1rem;
  box-shadow: 0px 0px 1rem 0px #333;;
  display: flex;
  max-height: 60vh;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
  
}

.new-request-form .container {
  height: max-content;
  margin: 0rem;
  padding: 1rem;
  box-shadow: 0px 0px 10x rgba(0,0,0,0.5); 
}

.new-request-form h3 {

}

.new-request-form .form-row{
  display: flex;
  width: 100%;


}

.new-request-form .input-data {
  display: flex;
  flex-direction: column;
}

.smaller-input {
  width: 150px;
}

.medium-input {
  width: 300px;
}
