.carousel .slideshow-container {
  background: #222;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-top: -5rem;
  opacity: 80%;
  height: 100vh;
  height: 100vw;
  }
  
.carousel .slideshow-item {
  height: 30rem;
  min-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  height: 100vh;
  height: 100vw;
  }
  
.carousel .left-arrow, .right-arrow {
  position: absolute;
  z-index: 1;
  top: 15rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 3rem;
  background-color: white;
  border: 1px solid #ddd;
  }
  
.carousel .left-arrow {
  left: 1em;
  }
  
.carousel .right-arrow {
  right: 1em;
  }
  
.carousel img {
  object-fit: cover;
  }
