.NavBar {
  background-color: #1A273E;
  border-radius: 0;
  height: 5rem;
  color: white;
  margin: 0;
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
	position: sticky;
}

.NavBar .Nav-Links {
  display: flex;
  margin-right: 1rem;
  align-items: center;
}
.NavBar a {
  text-decoration: none;
  margin-left: 1.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavBar a:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px -10px yello;
}

.NavBar .propertease-logo-container {
  display: flex;
  width: 20rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.NavBar img {
  height: 80%;
}

.NavBar h3 {
  margin-left: 1rem;
  font-size: 2rem;
  color: #D39B0B;
}

