.NavBar {
  background-color: #1A273E;
  border-radius: 0;
  height: 5rem;
  color: white;
  margin: 0;

  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.NavBar a {
  text-decoration: none;
  margin-left: 1.5rem;
}

.NavBar a:hover {
  /* color: red; */
  background-color: #D39B0B;
  /* position: relative; */
  /* text-decoration: underline; */
  transform: translateY(-5px);
  box-shadow: 0 10px 20px -10px yello;
  
}

.NavBar .logo-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.NavBar img {
  height: 80%;
}

.NavBar h3 {
  margin-left: 1rem;
  font-size: 2rem;
  color: #D39B0B;

}
/* 
.sticky {
  position: absolute;
  top: 0px;
  width: 100%;
} */
