.home {
  background-color: #F9F2EB;
}

.home h2 {
  margin-top: 2rem;
  color: #D39B0B;
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
}

.home p {
  padding: 0em 15em;
  display: center;
  text-align: center;
  font-size: 1.3rem;
}

.home h3 {
  color: #D39B0B;
  padding: 0.5em 1em;
  text-align: center;
}

.home .row {
  display: flex;
}

.home .column {
  flex: 50%;
}

.home .mission-statement{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.home .screenshot-carousel{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a273e;
}

.home .screenshot-container{
  border: 2px solid #D39B0B;
  /* height: 95%; */
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.home .div-border {
  border: 2px solid #D39B0B;
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home .div-border p {
    font-size: xx-large;
}

.home .screenshot-div-container{
  border: 2px solid #D39B0B;
  width: 100%;
  margin: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 20px;
}

.home .screenshot-image {
  max-width: 100%;
  height: auto; 
}

.home .screenshot-description{
  margin-top: auto;
}

.home .text {
  width: 100%;
}

.home .screenshot-description p{
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
}

.home .screenshot-image img {
  max-width: 100%;
  height: 40rem;
}
