.home {
  background-color: #F9F2EB;
}

.home h2 {
  margin-top: 2rem;
  color: #D39B0B;
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
}

.home p {
  padding: 0em 15em;
  display: center;
  text-align: center;
  font-size: 1.3rem;
}

.home h3 {
  color: #D39B0B;
  padding: 0.5em 1em;
  text-align: center;
}

.home .row {
  display: flex;
}

.home .column {
  flex: 50%;
}

.home .mission-statement{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .screenshot-carousel{
  height: 90vh;
  /* background-color: #D39B0B; */
  background-color: #1a273e;;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .screenshot-container{
  border: 2px solid #1a273e;
  border: 2px solid #D39B0B;
  height: 95%;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.home .div-border {
  border: 2px solid #D39B0B;
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home .screenshot-div-container{
  border: 2px solid #1a273e;
  border: 2px solid #D39B0B;
  width: 100%;
  margin: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home .screenshot-image {
  height: 100%;  
}

.home .screenshot-description{
  height: 100%;
}

.home .text {
  width: 100%;
}

.home .screenshot-description p{
  margin: 0;
  padding: 1rem;
  color: white;
}
