/* Slideshow */
.home {
  background-color: #F9F2EB;
}

.home h2 {
  margin-top: 2rem;
  color: #D39B0B;
  text-align: center;
}

.home p {
  padding: 0em 1em;
  display: center;
}

.home h3 {
  color: #D39B0B;
  padding: 0.5em 1em;
  text-align: center;
}

.home .row {
  display: flex;
}

.home .column {
  flex: 50%;
}
