/* #box5, #box6, #box7 {
    border: 1px solid rgba(211, 154, 11, 0.273);
    box-shadow: 0px 0px 10px #D39B0B;
    background-color: #F9F2EB;
    border-radius: 1rem;
    padding: 20px;
    width: 85%;
    height: 50px;
  } */
